[Unit]
Description=Calico DHCP agent
After=syslog.target network.target

[Service]
User=neutron
ExecStart=/usr/bin/calico-dhcp-agent --config-file /etc/neutron/neutron.conf
KillMode=process
Restart=on-failure
LimitNOFILE=32000

[Install]
WantedBy=multi-user.target
